#Maintenance File for Klipper Maintenance Custom Made for All FDM 3d Printers

#Maintenance Sections
#For each maintenance object, a [maintain xxx] config section should be configured, along with Maintain Status and Update Maintenance macros.
#Place any numbers at the end to ensure macros work and don't use underlines or spaces in the name
#[Label]: text that will be displayed when referring to this maintenance object
#[trigger] Type of event that triggers this maintenance. Currently three options:
#   [print_time] Print time, in hours
#   [filament] Extruded filament, in meters (330m is roughly 1kg of PLA)
#   [time] Time, in hours
#[threshold] How often maintenance needs to be done. For print_time and time, this is in hours. For filament, this is in meters
#[message] message that will be displayed when maintenance needs to be done
#[expired_gcode] GCode to run after maintenance expires. Not required


#=====================================================
# G Code, Macros and Templates (remove the first hash for each template used only)
#=====================================================

#Check Maintenance Items, shows the current status of provided maintenance
[gcode_macro Check_Maintenance_100_Hours]
description: Check 100 Hour Maintenance 
gcode:
    CHECK_MAINTENANCE NAME=hour100

[gcode_macro Check_Maintenance_500_Hours]
description: Check 500 Hour Maintenance
gcode:
    CHECK_MAINTENANCE NAME=hour500

[gcode_macro Check_Maintenance_Printer_Parts]
description: Check Print Parts Maintenance
gcode:
    CHECK_MAINTENANCE NAME=printerparts

#Template

#[gcode_macro CHECK_MAINTENANCE_<Main_Section_Name>]
#description: Check <LABEL>
#gcode:
#    CHECK_MAINTENANCE NAME=<Main_Section_Name>


# Resets Maintenance Items, Marks the provided maintenance as complete
[gcode_macro RESET_MAINTENANCE_100_Hours]
description: Reset 100 Hour Maintenance 
gcode:
    UPDATE_MAINTENANCE NAME=hour100

[gcode_macro RESET_MAINTENANCE_500_Hours]
description: Reset 500 Hour Maintenance
gcode:
    UPDATE_MAINTENANCE NAME=hour500

[gcode_macro RESET_MAINTENANCE_Printer_Parts]
description: Reset Printer Parts Maintenance
gcode:
    UPDATE_MAINTENANCE NAME=printparts

#Template

#[gcode_macro UPDATE_MAINTENANCE_<Main_Section_Name>]
#description: Reset <LABEL>
#gcode:
#    UPDATE_MAINTENANCE NAME=<Main_Section_Name>


#Main Section Template. This defines maintenance items.

#[maintain <Main_Section_Name>
#label: <text displayed referring to maintenance item>
#trigger: <time, print_time, filament> 
#threshold: <enter numerical value here>
#message: Lubricate XY smooth rods
## expired_gcode: <this is not required>
## Notes: 

#=====================================================
# 100 Hour Printer Maintenance. 
#=====================================================

[maintain hour100]
label: 100 Hour Maintenance
trigger: print_time
threshold: 100
message: Perform 100 Hour Maintenance.
# expired_gcode:
#Steps:
#Clean print areas. 
#Lubricate rails, if using linear rails, and motion system.
#Verify first layer, retraction settings, and pressure advance
#Back up raw config files, clear out gcode, and update system

#=====================================================
# 500 Hour Printer Maintenance.
#=====================================================

[maintain hour500]
label: 500 Hour Maintenance
trigger: print_time
threshold: 500
message: Perform 500 Hour Maintenance.
#Steps:
#Print Complex Test
#Perform Backups and Image Klipper Drive. Backup the Computer running Klipper and Slicer Profiles, and make backups of those backups
#Remove Bed, Electronics Covers, Extruder and Drive Belts.
#Check Tightness of Belts, Pulleys, Motor Mounts, Nuts and Bolts.
#Check for damage, wear, and deformity in belts, bearings, bushings, and oterh plastic and teflon parts
#Clean and Verify Printer. Remove Dust from Electronics, Cases and ALL Fans. Verify Wiring and Connections while performing this.
#Order and replace parts and air filters. This is a great time to upgrade the printer as well.
#Clean, Degrease and Lubricate Moton System
#Reassemble Printer
#Update and verify Klipper and backend components
#Verify work and reprint previous Complex Test.
#Recalibrate if required

#=====================================================
# Extruder and Bed Maintenance
#=====================================================

# Extruder and Bed maintenance
[maintain printparts]
label: Extruder and Bed maintenance
trigger: filament
threshold: 1000 # 1KM of Filament Printed
message: Clean, verify and maintain extruder, heated bed, and other heaters
#Steps:
#Clean Sock, Heatblock, Bed, and Nozzle. Refinish Bed
#Tighten and Verify Nozzle, Heartbreak, Heatsink and Bed.
#Relevel Bed
#PID Tune Heaters for Max Temperature
